/**********************************************************************************/
/* BACKGROUNDS */
:root,
.fb-theme-scope {
    --fb-current-bg-surface-mix: var(--fb-bg-surface-mix);
    --fb-current-bg-accent-offset: var(--fb-bg-accent-offset);
    --fb-current-bg-highlight-offset: var(--fb-bg-highlight-offset);
    --fb-current-frame-light-mix: var(--fb-frame-light-mix);
    --fb-current-frame-medium-mix: var(--fb-frame-medium-mix);
    --fb-current-frame-strong-mix: var(--fb-frame-strong-mix);
    --fb-bg-surface: color-mix(in oklab, var(--fb-bg-low-anchor), var(--fb-bg-tint) var(--fb-current-bg-surface-mix));
    --fb-bg-accent: color-mix(in oklab, var(--fb-bg-surface), var(--fb-bg-high-anchor) var(--fb-current-bg-accent-offset));
    --fb-bg-highlight: color-mix(in oklab, var(--fb-bg-surface), var(--fb-bg-high-anchor) var(--fb-current-bg-highlight-offset));
    --fb-current-bg: var(--fb-bg-surface);
}

.fb-hover {
    --fb-hover-mix-offset: 4%;
}

.fb-hover:hover {
    --fb-current-bg-surface-mix: clamp(0%, calc(var(--fb-bg-surface-mix) + var(--fb-hover-mix-offset)), 100%);
    --fb-current-bg-accent-offset: clamp(0%, calc(var(--fb-bg-accent-offset) + var(--fb-hover-mix-offset)), 100%);
    --fb-current-bg-highlight-offset: clamp(0%, calc(var(--fb-bg-highlight-offset) + var(--fb-hover-mix-offset)), 100%);
    --fb-current-frame-light-mix: clamp(0%, calc(var(--fb-frame-light-mix) + var(--fb-hover-mix-offset)), 100%);
    --fb-current-frame-medium-mix: clamp(0%, calc(var(--fb-frame-medium-mix) + var(--fb-hover-mix-offset)), 100%);
    --fb-current-frame-strong-mix: clamp(0%, calc(var(--fb-frame-strong-mix) + var(--fb-hover-mix-offset)), 100%);
    --fb-bg-surface: color-mix(in oklab, var(--fb-bg-low-anchor), var(--fb-bg-tint) var(--fb-current-bg-surface-mix));
    --fb-bg-accent: color-mix(in oklab, var(--fb-bg-surface), var(--fb-bg-high-anchor) var(--fb-current-bg-accent-offset));
    --fb-bg-highlight: color-mix(in oklab, var(--fb-bg-surface), var(--fb-bg-high-anchor) var(--fb-current-bg-highlight-offset));
}

html {
    background-color: var(--fb-bg-surface);
}

.fb-bg-surface {
    --fb-current-bg: var(--fb-bg-surface);
    background-color: var(--fb-current-bg);
}

.fb-bg-accent {
    --fb-current-bg: var(--fb-bg-accent);
    background-color: var(--fb-current-bg);
}

.fb-bg-highlight {
    --fb-current-bg: var(--fb-bg-highlight);
    background-color: var(--fb-current-bg);
}

/**********************************************************************************/
/* RADIUS */
.fb-layout-radius {
    border-radius: var(--fb-radius-m);
    overflow: hidden;
}

/**********************************************************************************/
/* FRAMED COLUMN */

/* FRAME */
.framed-column-containner {
    border-left: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-top: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* SEPARATOR */
.framed-separator-column-containner > div:nth-child(n) {
    border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* GRID */
.framed-grid-column-containner {
    border-left: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-top: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

    .framed-grid-column-containner > div:nth-child(n) {
        border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
        border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    }

/**********************************************************************************/
/* COLUMN */

/* FRAME */
.framed-column {
    border-left: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-top: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* SEPARATOR */
.framed-separator-column > div:nth-child(n) {
    border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* GRID */
.framed-grid-column {
    border-left: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    border-top: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

    .framed-grid-column > div:nth-child(n) {
        border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
        border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    }

/**********************************************************************************/
/* FRAMED STACK */

/* FRAME */
.framed-stack {
    border: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* SEPARATOR */
.framed-separator-stack > div:nth-last-child(n+2) {
    border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* GRID */
.framed-grid-stack {
    border: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

    .framed-grid-stack > div:nth-last-child(n+2) {
        border-bottom: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    }

/**********************************************************************************/
/* FRAMED ROW */

/* FRAME */
.framed-row {
    border: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* SEPARATOR */
.framed-separator-row > div:nth-last-child(n+2) {
    border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

/* GRID */
.framed-grid-row {
    border: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
}

    .framed-grid-row > div:nth-last-child(n+2) {
        border-right: var(--fb-frame-border-size) solid var(--fb-frame-border-color);
    }

/**********************************************************************************/
/* SIZING CLASSES mapping to unified custom properties */

/* Light Frame Classes */
.framed-column-containner-light-frame,
.framed-separator-column-containner-light-frame,
.framed-grid-column-containner-light-frame,
.framed-column-light-frame,
.framed-separator-column-light-frame,
.framed-grid-column-light-frame,
.framed-stack-light-frame,
.framed-separator-stack-light-frame,
.framed-grid-stack-light-frame,
.framed-row-light-frame,
.framed-separator-row-light-frame,
.framed-grid-row-light-frame {
    --fb-frame-border-size: var(--fb-frame-light-size);
    --fb-frame-border-color: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-light-mix));
}

/* Medium Frame Classes */
.framed-column-containner-medium-frame,
.framed-separator-column-containner-medium-frame,
.framed-grid-column-containner-medium-frame,
.framed-column-medium-frame,
.framed-separator-column-medium-frame,
.framed-grid-column-medium-frame,
.framed-stack-medium-frame,
.framed-separator-stack-medium-frame,
.framed-grid-stack-medium-frame,
.framed-row-medium-frame,
.framed-separator-row-medium-frame,
.framed-grid-row-medium-frame {
    --fb-frame-border-size: var(--fb-frame-medium-size);
    --fb-frame-border-color: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-medium-mix));
}

/* Strong Frame Classes */
.framed-column-containner-strong-frame,
.framed-separator-column-containner-strong-frame,
.framed-grid-column-containner-strong-frame,
.framed-column-strong-frame,
.framed-separator-column-strong-frame,
.framed-grid-column-strong-frame,
.framed-stack-strong-frame,
.framed-separator-stack-strong-frame,
.framed-grid-stack-strong-frame,
.framed-row-strong-frame,
.framed-separator-row-strong-frame,
.framed-grid-row-strong-frame {
    --fb-frame-border-size: var(--fb-frame-strong-size);
    --fb-frame-border-color: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-strong-mix));
}

/**********************************************************************************/
/* SEPARATOR SIZE */

.fb-separator-light-frame {
    flex-basis: var(--fb-frame-light-size);
    background: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-light-mix));
}

.fb-separator-medium-frame {
    flex-basis: var(--fb-frame-medium-size);
    background: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-medium-mix));
}

.fb-separator-strong-frame {
    flex-basis: var(--fb-frame-strong-size);
    background: color-mix(in oklab, var(--fb-current-bg), var(--fb-bg-high-anchor) var(--fb-current-frame-strong-mix));
}

/**********************************************************************************/
/* UTILS */
.fb-utils-fit-parent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fb-text-no-wrap {
    text-wrap-mode:nowrap;
}

/**********************************************************************************/
/* SHOW WHEN OVER */
.fb-swo-frame {
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

/**********************************************************************************/
/* ROW BREAKS */
@media (max-width: 480px) {
    .row-break-under-xxs {
        display: inline-flex;
    }

    .row-break-over-xxs {
        display: none;
    }
}

@media (min-width: 480px) {
    .row-break-under-xxs {
        display: none;
    }

    .row-break-over-xxs {
        display: inline-flex;
    }
}

@media (max-width: 600px) {
    .row-break-under-xs {
        display: inline-flex;
    }

    .row-break-over-xs {
        display: none;
    }
}

@media (min-width: 600px) {
    .row-break-under-xs {
        display: none;
    }

    .row-break-over-xs {
        display: inline-flex;
    }
}

@media (max-width: 960px) {
    .row-break-under-s {
        display: inline-flex;
    }

    .row-break-over-s {
        display: none;
    }
}

@media (min-width: 960px) {
    .row-break-under-s {
        display: none;
    }

    .row-break-over-s {
        display: inline-flex;
    }
}

@media (max-width: 1280px) {
    .row-break-under-m {
        display: inline-flex;
    }

    .row-break-over-m {
        display: none;
    }
}

@media (min-width: 1280px) {
    .row-break-under-m {
        display: none;
    }

    .row-break-over-m {
        display: inline-flex;
    }
}

@media (max-width: 1600px) {
    .row-break-under-l {
        display: inline-flex;
    }

    .row-break-over-l {
        display: none;
    }
}

@media (min-width: 1600px) {
    .row-break-under-l {
        display: none;
    }

    .row-break-over-l {
        display: inline-flex;
    }
}

@media (max-width: 1960px) {
    .row-break-under-xl {
        display: inline-flex;
    }

    .row-break-over-xl {
        display: none;
    }
}

@media (min-width: 1960px) {
    .row-break-under-xl {
        display: none;
    }

    .row-break-over-xl {
        display: inline-flex;
    }
}

/**********************************************************************************/
/* COLUMN BREAKS */
@media (max-width: 480px) {
    .column-break-under-xxs {
        display: inline-flex;
    }

    .column-break-over-xxs {
        display: none;
    }
}

@media (min-width: 480px) {
    .column-break-under-xxs {
        display: none;
    }

    .column-break-over-xxs {
        display: inline-flex;
    }
}

@media (max-width: 600px) {
    .column-break-under-xs {
        display: inline-flex;
    }

    .column-break-over-xs {
        display: none;
    }
}

@media (min-width: 600px) {
    .column-break-under-xs {
        display: none;
    }

    .column-break-over-xs {
        display: inline-flex;
    }
}

@media (max-width: 960px) {
    .column-break-under-s {
        display: inline-flex;
    }

    .column-break-over-s {
        display: none;
    }
}

@media (min-width: 960px) {
    .column-break-under-s {
        display: none;
    }

    .column-break-over-s {
        display: inline-flex;
    }
}

@media (max-width: 1280px) {
    .column-break-under-m {
        display: inline-flex;
    }

    .column-break-over-m {
        display: none;
    }
}

@media (min-width: 1280px) {
    .column-break-under-m {
        display: none;
    }

    .column-break-over-m {
        display: inline-flex;
    }
}

@media (max-width: 1600px) {
    .column-break-under-l {
        display: inline-flex;
    }

    .column-break-over-l {
        display: none;
    }
}

@media (min-width: 1600px) {
    .column-break-under-l {
        display: none;
    }

    .column-break-over-l {
        display: inline-flex;
    }
}

@media (max-width: 1960px) {
    .column-break-under-xl {
        display: inline-flex;
    }

    .column-break-over-xl {
        display: none;
    }
}

@media (min-width: 1960px) {
    .column-break-under-xl {
        display: none;
    }

    .column-break-over-xl {
        display: inline-flex;
    }
}

/**********************************************************************************/
/* BREAKS -> HIDE */
@media (max-width: 480px) {
    .hide-under-xxs {
        display: none;
    }
}

@media (min-width: 481px) {
    .hide-over-xxs {
        display: none;
    }
}

@media (max-width: 600px) {
    .hide-under-xs {
        display: none;
    }
}

@media (min-width: 601px) {
    .hide-over-xs {
        display: none;
    }
}

@media (max-width: 960px) {
    .hide-under-s {
        display: none;
    }
}

@media (min-width: 961px) {
    .hide-over-s {
        display: none;
    }
}

@media (max-width: 1280px) {
    .hide-under-m {
        display: none;
    }
}

@media (min-width: 1281px) {
    .hide-over-m {
        display: none;
    }
}

@media (max-width: 1600px) {
    .hide-under-l {
        display: none;
    }
}

@media (min-width: 1601px) {
    .hide-over-l {
        display: none;
    }
}

@media (max-width: 1960px) {
    .hide-under-xl {
        display: none;
    }
}

@media (min-width: 1961px) {
    .hide-over-xl {
        display: none;
    }
}

/*********************************************************************************/
/* DESIGN SYSTEM */
/*********************************************************************************/

/*********************************************************************************/
/* RESPONSIVE CONTAINER */

/* TINY REPONSIVE CONTAINER INITIALIZER */
.fb-container-init {
    container-type: inline-size;
}

/* TINY REPONSIVE CONTAINER-XXL */

.fb-container-xxl-flex {
    display: none !important;
}

@container (min-width: 1536px) {
    .fb-container-xxl-flex {
        display: flex !important;
    }
}

@container (min-width: 1536px) {
    .fb-container-xxl-none {
        display: none !important;
    }
}

/* TINY REPONSIVE CONTAINER-XL */

.fb-container-xl-flex {
    display: none !important;
}

@container (min-width: 1280px) {
    .fb-container-xl-flex {
        display: flex !important;
    }
}

@container (min-width: 1280px) {
    .fb-container-xl-none {
        display: none !important;
    }
}

/* TINY REPONSIVE CONTAINER-L */

.fb-container-l-flex {
    display: none !important;
}

@container (min-width: 1024px) {
    .fb-container-l-flex {
        display: flex !important;
    }
}

@container (min-width: 1024px) {
    .fb-container-l-none {
        display: none !important;
    }
}

/* TINY REPONSIVE CONTAINER-M */

.fb-container-m-flex {
    display: none !important;
}

@container (min-width: 768px) {
    .fb-container-m-flex {
        display: flex !important;
    }
}

@container (min-width: 768px) {
    .fb-container-m-none {
        display: none !important;
    }
}

/* TINY REPONSIVE CONTAINER-S */

.fb-container-s-flex {
    display: none !important;
}

@container (min-width: 640px) {
    .fb-container-s-flex {
        display: flex !important;
    }
}

@container (min-width: 640px) {
    .fb-container-s-none {
        display: none !important;
    }
}

/* TINY REPONSIVE CONTAINER-XS */

.fb-container-xs-flex {
    display: none !important;
}

@container (min-width: 360px) {
    .fb-container-xs-flex {
        display: flex !important;
    }
}

@container (min-width: 360px) {
    .fb-container-xs-none {
        display: none !important;
    }
}

/**********************************************************************************/
/* MINI-PROGRESS */

.fb-prog-loader {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.fb-prog-circular {
    animation: rotate 1s linear infinite;
    height: 24px;
    position: relative;
    width: 24px;
}

.fb-prog-path-back {
    stroke: #BBB;
}

.fb-prog-path {
    stroke-dasharray: 35,200;
    stroke-dashoffset: 0;
    stroke: #4989E4;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color {
    100%, 0% {
        stroke: #4989E4;
    }

    40% {
        stroke: #27A444;
    }

    66% {
        stroke: #DC7200;
    }

    80%, 90% {
        stroke: #BA8AA4;
    }
}

/**********************************************************************************/
/* DROPDOWN */
.fb-dropdown-container {
    display: inline-block;
    position: relative;
}

.fb-dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    background: transparent;
}

.fb-dropdown-content {
    position: absolute;
    z-index: 9999;
    min-width: 100%;
    box-sizing: border-box;
}

.fb-dropdown-open-down {
    top: 100%;
    bottom: auto;
}

.fb-dropdown-open-up {
    bottom: 100%;
    top: auto;
}
